body {
	font-family: "Orbitron";
	font-size:18px;
}

#chat {
	width: 80%;
	background-color: #3b3b3b;	
	padding: 1.5em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
    /*para definir esuinas redondas*/
   /*-webkit-border-radius:.em*/
   /*-moz-border-radius:5.em*/
   border-radius: .5em;
   /*se empieza en la esquina superior izquierda y se avnaza en el sentido de las manecillas del reloj*/
   border-radius:.5em .5em 1.em 1em;
   box-shadow:10px 10px 15px 15px black
}

h1 {
	text-align: center;
	/*agregar soporte con navegador moz etc*/
	text-shadow:10px 10px 15px black
}

h1, h4, p {
	color: white;
}

h4 {
	margin-bottom: 1em;
}

#mensajes, #mensaje-usuario, #nombre-usuario {
	background-color: white;	
	min-height: 1em;
}

.mensaje {
	padding: 5px;
	border-bottom: 1px #3b3b3b solid;
}

span {
	color: red;
}

#mensaje-usuario {
	padding: 0px;
	width: 100%;
	border-width: 0px;
	margin-bottom: 3px;
}